<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
		  <div class="panel-heading">
			  <h3 class="panel-title">List of medications</h3>
			</div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Dosage</th>
            <th>Time</th>
            <th>Remark</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medication of medications" (click)="onSelect(medication)" [class.bg-primary]="medication === medicationSelected">
            <td>{{medication.name}}</td>
            <td>{{medication.dosage}}</td>
            <td>{{medication.time | date:"MM-dd-yy HH:mm" }}</td>
            <td>{{medication.remark}}</td>
            <td>
              <button type="button" (click)="onSelect(medication)"
              data-toggle="modal" data-target="#myModal" 
              class="btn btn-info btn-sm glyphicon glyphicon-info-sign" title="Edit remark"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit remark information</h4>
      </div>
      <div class="modal-body">
        <p>
          <!-- Two way binding example -->
          <!-- <input [(ngModel)]="medicationSelected.remark" placeholder="Write a remark" class="form-control" />-->
          <!-- One way binding example -->
          <input #remarkInput value="{{medicationSelected.remark}}" placeholder="Write a remark" class="form-control" />
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="saveRemark(remarkInput.value)" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>