<div class="row" *ngIf="patients?.length > 0">
  <div class="col-sm-12">
    <div class="panel panel-primary">
		  <div class="panel-heading">
			  <h3 class="panel-title">Patients</h3>
			</div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Patient number</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>{{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.patientNumber}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.birthdate | date:"dd-MM-yy" }}</td>
            <td class="text-right">
              <button type="button" (click)="onSelect(patient)"
              class="btn btn-info btn-sm glyphicon glyphicon-eye-open" 
              title="See patient´s medications"></button>
              <button type="button" (click)="selectPatient(patient)"
              data-toggle="modal" data-target="#myModalEdit" 
              class="btn btn-info btn-sm glyphicon glyphicon-edit" title="Edit patient´s details"></button>
              <button type="button" (click)="selectPatient(patient)"
              data-toggle="modal" data-target="#myModalDelete" 
              class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Delete patient"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div id="myModalEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Patient´s details</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="Firstname">Firstname</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                <input #FirstNameInp value="{{selectedPatient.firstName}}" placeholder="Write firstname" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="LastName">Lastname</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
              <input #LastNameInp value="{{selectedPatient.lastName}}" placeholder="Write lastname" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="PatientNumber">Patient number</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
              <input #PatientNumberInp value="{{selectedPatient.patientNumber}}" placeholder="Write patient´s number" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label for="Gender">Gender</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <select #genderInp class="form-control">
                <option value="male" [selected] = "selectedPatient.gender == 'male'">Male</option>
                <option value="female" [selected] = "selectedPatient.gender == 'female'">Female</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="Birthdate">Birthdate</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input #birthdateInp value="{{selectedPatient.birthdate  | date:'y-MM-dd'}}" placeholder="Select patient´s birthdate" class="form-control" type="date" />
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="savePatient(FirstNameInp.value, LastNameInp.value, PatientNumberInp.value, genderInp.value, birthdateInp.value)" class="btn btn-success" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div id="myModalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Patient</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong>¿Delete patient {{selectedPatient.firstName}} {{selectedPatient.lastName}}?</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete(selectedPatient)" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>